/*
Error: Undefined mixin 'relative-font-size'.
        on line 139 of layout.css, in `relative-font-size'
        from line 139 of layout.css

134:     width: max-content;
135:   }
136: }
137: 
138: .post-list-heading {
139:   @include relative-font-size(1.75);
140: }
141: 
142: .post-list {
143:   margin-left: 0;
144:   list-style: none;

Backtrace:
layout.css:139:in `relative-font-size'
layout.css:139
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/zetsu/.local/share/gem/ruby/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/zetsu/bin/sass:25:in `load'
/home/zetsu/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'relative-font-size'.\A         on line 139 of layout.scss, in `relative-font-size'\A         from line 139 of layout.scss\A \A 134:     width: max-content;\A 135:   }\A 136: }\A 137: \A 138: .post-list-heading {\A 139:   @include relative-font-size(1.75);\A 140: }\A 141: \A 142: .post-list {\A 143:   margin-left: 0;\A 144:   list-style: none;"; }
