.banner {
  content: "";
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border-bottom: 1px solid;
}