html, body {
  margin: 0;
}

@charset "utf-8";
@font-face {
  font-family: 'Grenze Gotisch';
  src: url('/static/fonts/GrenzeGotisch.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/static/fonts/NotoSerif.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Variable';
  src: url('/static/fonts/InterVariable.ttf') format('truetype');
}

html {
  font-family: "Inter Variable";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Grenze Gotisch";
  font-weight: normal;
}

body {
  background-image: url("/static/ui/background.png");;
  background-size: cover;
  background-position: 0 200px;
}

.page-containter {
  top: -120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  max-width: 1500px;
  position: relative;
  width: 85%;
}

@media only screen and (max-width: 1300px) {
  .page-containter {
    max-width: none;
    width: 85%;
  }
}

.page {
  position: relative;
  top: -30px;
  border-image: url("/static/ui/page-border.png") 100 stretch;
  border-top: 25px solid;
  background-image: url("/static/ui/page.png");
  background-size: cover;
  background-repeat: repeat;
}

.page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  border-bottom: 25px solid;
  border-image: inherit;
  transform: scaleY(-1);
}