.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .characters-element {
    margin: 10px;
    width: 300px;
    height: auto;
    text-align: center;
    background-image: url('/static/ui/image-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    img {
      height: 400px;
      max-width: 262px;
      position: relative;
      bottom: -24px;
      object-fit: contain;
    }

    button {
      position: relative;
      top: 10px;
      z-index: 1;
      background-image: url('/static/ui/name-backdrop-3.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position-y: 2px;
      border: none;
      height: 70px;
      width: 300px;
      color: white;
      font-family: "Grenze Gotisch";
      font-size: 24px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}