.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: flex-end;
  position: relative;
}

header {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;

  .menu-button {
    border: none;
    background-color: transparent;
    background-image: url("/static/ui/button-square-turn.png");
    left: -40px;
    height: 79px;
    width: 79px;
    position: relative;
    cursor: pointer;
  }

  .site-title {
    z-index: 1;
    width: 576px;
    height: 60px;
    display: flex;
    align-items: center;
    background-image: url("/static/ui/title-backdrop.png");
    background-size: cover;
    background-repeat: no-repeat;

    a {
      color: white;
      font-family: "Grenze Gotisch";
      font-size: 40px;
    }

    @media (max-width: 768px) {
      a {
        font-size: 30px;
      }
    }

    .logo {
      height: 30px;
      margin: 5px 20px 0 12px;
      filter: brightness(100) saturate(100%);
    }
  }
}

.nav-dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  flex-direction: column;

  &.show {
    display: flex;
  }

  .nav-button {
    width: 246px;
    height: 65px;
    font-family: "Grenze Gotisch";
    font-size: 18px;
    color: white;
    background-color: transparent;
    background-image: url("/static/ui/button-text.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}