<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ enemy.name }} | {{ g.site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>
<body>

{% include "banner.html" %}

<div class="page-containter">
    {% include "header.html" %}

    <div class="page">
        <div class="character-container">
            <div class="character-data">
                <div class="character-data-box">
                    {% set enemy_name = enemy.name | lower | replace(" ", "-") %}
                    {% set url = g.img_host + "enemies/" + enemy_name %}
                    <img src="{{ url }}.png" alt="">

                    <div class="character-data-name"><h1>{{ enemy.name }}</h1></div>
                    {% if enemy.bosstitle %}
                        <div class="character-data-title"><h3>{{ enemy.bosstitle }}</h3></div>
                    {% endif %}

                    <div class="character-data-field-title"><h4>Allgemeine Werte</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Typ</td>
                            <td>{{ enemy.type }}</td>
                        </tr>
                        <tr>
                            <td>HP</td>
                            <td>{{ enemy.hp }}</td>
                        </tr>
                        <tr>
                            <td>AC</td>
                            <td>{{ enemy.ac }}</td>
                        </tr>
                        <tr>
                            <td>Bewegung</td>
                            <td>
                                <ul>
                                    {% for move in enemy.movement | sort(attribute='type') %}
                                        <li>{{ move.type | capitalize }} ({{ move.range }} ft.)</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="character-data-field-title"><h4>Fertigkeitsmodifikatoren</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Stärke</td>
                            <td>{{ enemy.abilities.str }}</td>
                        </tr>
                        <tr>
                            <td>Geschicklichkeit</td>
                            <td>{{ enemy.abilities.dex }}</td>
                        </tr>
                        <tr>
                            <td>Konstitution</td>
                            <td>{{ enemy.abilities.con }}</td>
                        </tr>
                        <tr>
                            <td>Intelligenz</td>
                            <td>{{ enemy.abilities.int }}</td>
                        </tr>
                        <tr>
                            <td>Weisheit</td>
                            <td>{{ enemy.abilities.wis }}</td>
                        </tr>
                        <tr>
                            <td>Charisma</td>
                            <td>{{ enemy.abilities.cha }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="character-data-field-title"><h4>Status</h4></div>
                    <table>
                        <tbody>
                        {% if enemy.weaknesses %}
                            <tr>
                                <td>Schwächen</td>
                                <td>
                                    {% for weakness in enemy.weaknesses | sort %}
                                        {{ weakness }}{{ ", " if not loop.last else "" }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if enemy.resistances %}
                            <tr>
                                <td>Resistenzen</td>
                                <td>
                                    {% for resistance in enemy.resistances | sort %}
                                        {{ resistance }}{{ ", " if not loop.last else "" }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if enemy.immunities %}
                            <tr>
                                <td>Immunitäten</td>
                                <td>
                                    {% for immunity in enemy.immunities | sort %}
                                        {{ immunity }}{{ ", " if not loop.last else "" }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="character-text">
                <div class="character-text-box">
                    {% for action in actions %}
                        <div class="character-text-heading"><h2>{{ action.name }}</h2></div>

                        <ul>
                            {% if action.cooldown %}
                                <li>Abklingzeit:
                                    {{ action.cooldown.duration }}{{ action.cooldown.duration_type }}</li>{% endif %}
                            <li>Reichtweite: {{ action.range }} ft. {{ action.aoe }}</li>
                            {% if action.hitbonus %}
                                <li>Trefferbonus: +{{ action.hitbonus }}</li>{% endif %}
                            {% if action.savereq %}
                                <li>Gegnerischer Rettungswurf:
                                    ≥{{ action.savereq.bound }} {{ action.savereq.ability | capitalize }}</li>
                            {% endif %}
                            {% if action.damage %}
                                <li>Schadenswurf: {% for d in action.damage %}{{ d.dice_term }} {{ d.type }}
                                    {{ ", " if not loop.last else "" }}{% endfor %}</li>
                            {% endif %}
                            {% if action.effects %}
                                <li>Effekte: {% for e in action.effects %}{{ e.type }}
                                    ({{ e.duration }}{{ e.duration_type }}{{ e.dice_term }}{{ e.severity }}{{ e.range }}
                                    ){{ ", " if not loop.last else "" }}{% endfor %}</li>
                            {% endif %}
                        </ul>

                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
