<!doctype html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>{{ character.name }} | {{ g.site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>
<body>

{% include "banner.html" %}

<div class="page-containter">
    {% include "header.html" %}

    <div class="page">
        <div class="character-container">
            <div class="character-data">
                <div class="character-data-box">
                    {% set character_name = character.name | lower | replace(" ", "-") %}
                    {% set url = g.img_host + "characters/" + character_name %}
                    <img src="{{ url }} token.png" alt="">
                    <div class="character-data-top">
                        <div class="character-data-name"><h1>{{ character.name }} {{ character.surname }}</h1></div>
                        <div class="character-data-title"><h3>{{ character.title }}</h3></div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="character-data-field-title"><h4>Identität</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Rasse</td>
                            <td>{% if character.race %}{{ character.race }}{% else %}N/A{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Geschlecht</td>
                            <td>{% if character.sex %}{{ character.sex }}{% else %}N/A{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Alter</td>
                            <td>{% if character.age %}{{ character.age }} Jahre{% else %}N/A{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Geburtstag</td>
                            <td>{% if character.birthday %}{{ character.birthday }}{% else %}N/A{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Staatsangehörigkeit</td>
                            <td>
                                {% if character.nationality %}
                                    {% set place_name = character.nationality | lower | replace(" ", "-") %}
                                    <a href="{{ url_for('place', place_name=place_name) }}">
                                        {{ character.nationality }}</a>
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="character-data-field-title"><h4>Präferenzen</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Mag</td>
                            <td>
                                {% if character.likes %}
                                    {% for f in character.likes %}
                                        {{ f }}{% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Mag nicht</td>
                            <td>
                                {% if character.dislikes %}
                                    {% for f in character.dislikes %}
                                        {{ f }}{% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="character-data-field-title"><h4>Rolle</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Funktionen</td>
                            <td>
                                {% if character.functions %}
                                    {% for f in character.functions %}
                                        {{ f }}{% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Glaube</td>
                            <td>
                                {% if character.faith %}
                                    {% for f in character.faith %}
                                        {{ f }}{% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="character-data-field-title"><h4>Sozial</h4></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Bande</td>
                            <td>
                                {% if character.bonds %}
                                    {% for bond in character.bonds %}
                                        {{ bond.name }}
                                        {% if bond.relation %} <small>({{ bond.relation }})</small>{% endif %}
                                        {% if not loop.last %}<br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}N/A{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Ausrichtung</td>
                            <td>{% if character.alignment %}{{ character.alignment }}{% else %}N/A{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="character-text">
                <div class="character-text-box">

                    <h3 style="margin-bottom: 0">Kurzzusammenfassung</h3>
                    <hr style="margin-top: 0">

                    {% if not character.excerpt %}
                        <p>Hier steht noch nichts! Erinnere doch gerne den DM daran, für diesen Charakter etwas
                            epochales zu schreiben :)</p>
                    {% else %}
                        {{ character.excerpt | safe }}
                    {% endif %}

                    <h3 style="margin-bottom: 0">Biographie</h3>
                    <hr style="margin-top: 0">

                    {% if not character.biography %}
                        <p>Hier steht noch nichts! Erinnere doch gerne den DM daran, für diesen Charakter etwas
                            epochales zu schreiben :)</p>
                    {% else %}
                        {{ character.biography | safe }}
                    {% endif %}

                    <h3 style="margin-bottom: 0">Gallerie</h3>
                    <hr style="margin-top: 0">

                    <div class="gallery-container">
                        {% set character_name = character.name | lower | replace(" ", "-") %}
                        {% set alt = img | capitalize %}
                        {% set suffix = img | lower | replace(" ", "-") %}
                        {% set url = g.img_host + "characters/" + character_name %}
                        <div class="gallery-element">
                            <img src="{{ url }}.png" alt="" style="max-height: 350px">
                            <img src="{{ url }}.jpg" alt="" style="max-height: 350px">
                            <h4 style="margin: 0">Charakter-Illustration</h4>
                        </div>
                        <div class="gallery-element">
                            {% if character.has_alt %}
                                <img src="{{ character.alt_img_url }}" alt="" style="max-height: 350px">
                                <h4 style="margin: 0">Alternative Form</h4>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
