<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ compendium_name | capitalize }} | {{ g.site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compendium.css') }}">

</head>
<body>

{% include "banner.html" %}

<div class="page-containter">
    {% include "header.html" %}

    <div class="page">
        {% if compendium_name in ["theologarium", "gentarium", "linguarium", "bestiarium"] %}
            <div class="themed-container">
                {% for element in compendium | sort(attribute='name') %}
                    <div class="themed-element">
                        {% set element_name = element.name | lower | replace(" ", "-") %}
                        {% if compendium_name == "theologarium" %}
                            {% set url = g.img_host + "crests/" + element_name + "-crest.png" %}
                        {% elif compendium_name == "gentarium" %}
                            {% set example = element.example | lower | replace(" ", "-") %}
                            {% set url = g.img_host_resized + "characters/" + example + ".png" %}
                        {% elif compendium_name == "linguarium" %}
                            {% set center = element.center | lower | replace(" ", "-") %}
                            {% set url = g.img_host + "crests/" + center + "-crest.png" %}
                        {% elif compendium_name == "bestiarium" %}
                            {% set url = g.img_host_resized + "enemies/" + element_name + ".png" %}
                        {% endif %}
                        <a href="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                            <img src="{{ url }}" alt="">
                        </a>
                        <form action="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                            <button type="submit">{{ element.name }}</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% elif compendium_name in ['gladiarium'] %}
            {% for type in types | sort %}
                <h2 style="text-align: center">{{ type }}</h2>
                <div class="themed-container">
                    {% for element in compendium | sort(attribute='name') %}
                        {% if element.type == type %}
                            <div class="themed-element" style="background-image: none">
                                {% set element_name = element.name | lower | replace(" ", "-") %}
                                <form action="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                                    <button type="submit">{{ element.name }}</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% elif compendium_name in ['classarium', 'herbarium'] %}
            <p>Diese Seite ist noch im Aufbau. Der liebe DM kümmert sich drum :)</p>
        {% endif %}
    </div>
</div>

</body>
</html>
