<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ compendium_name | capitalize }} | {{ g.site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compendium.css') }}">

</head>
<body>

{% include "banner.html" %}

<div class="page-containter">
    {% include "header.html" %}

    <div class="page">
        {% if compendium_name in ["theologarium", "gentarium", "linguarium", "bestiarium"] %}
            <div class="themed-container">
                {% for element in compendium | sort(attribute='name') %}
                    <div class="themed-element">
                        {% set element_name = element.name | lower | replace(" ", "-") %}
                        {% if compendium_name == "theologarium" %}
                            {% set url = g.img_host + "crests/" + element_name + "-crest.png" %}
                        {% elif compendium_name == "gentarium" %}
                            {% set example = element.example | lower | replace(" ", "-") %}
                            {% set url = g.img_host_resized + "characters/" + example + ".png" %}
                        {% elif compendium_name == "linguarium" %}
                            {% set center = element.center | lower | replace(" ", "-") %}
                            {% set url = g.img_host + "crests/" + center + "-crest.png" %}
                        {% elif compendium_name == "bestiarium" %}
                            {% set url = g.img_host_resized + "enemies/" + element_name + ".png" %}
                        {% endif %}
                        <a href="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                            <img src="{{ url }}" alt="">
                        </a>
                        <form action="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                            <button type="submit">{{ element.name }}</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% elif compendium_name == 'gladiarium' %}
            {% for type in types | sort %}
                <div class="type-name"><h1>{{ type }}</h1></div>
                <div class="themed-container">
                    {% for element in compendium | sort(attribute='name') %}
                        {% if element.type == type %}
                            <div class="themed-element" style="background-image: none">
                                {% set element_name = element.name | lower | replace(" ", "-") %}
                                <form action="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}">
                                    <button type="submit">{{ element.name }}</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% elif compendium_name == 'magickarium' %}
            {% for type in types | sort %}
                <div class="type-name"><h1>{{ type }}</h1></div>
                <div class="themed-container">
                    {% for element in compendium | sort(attribute="association") %}
                        {% if element.type == type %}
                            <div class="themed-element" style="text-align: left; background: none">
                                {% set element_name = element.name | lower | replace(" ", "-") %}
                                <form action="{{ url_for('compendium_entry', compendium_name=compendium_name, entry_name=element_name) }}"
                                      style="text-align: center">
                                    <button type="submit">{{ element.name }}</button>
                                </form>
                                <div class="entry-association"><h3>{{ element.association }}</h3></div>
                                <!--
                                <ul>
                                    {% if element.level %}
                                        <li>Stufe: {{ element.level }}</li>{% endif %}
                                    {% if element.cooldown.cooldown_time != 0 %}
                                        <li>Abklingzeit: {{ element.cooldown.cooldown_time }}
                                            {{ element.cooldown.cooldown_type }}</li>{% endif %}
                                    {% if element.concentration %}
                                        <li>Konzentration: Ja{% endif %}
                                    </li>
                                    {% if element.range %}
                                        <li>Reichweite: {{ element.range }} ft.</li>{% endif %}
                                    {% if element.aoe %}
                                        <li>Wirkungsbereich:
                                            {% if element.aoe.aoe_range != 0 %}
                                                {{ element.aoe.aoe_range }} ft.
                                            {% endif %}
                                            {{ element.aoe.aoe_type }}</li>{% endif %}
                                    {% if element.duration %}
                                        <li>Wirkungsdauer:
                                            {% if element.duration.duration_time != 0 %}
                                                {{ element.duration.duration_time }}
                                            {% endif %}
                                            {{ element.duration.duration_type }}</li>{% endif %}
                                    {% if element.casting_duration %}
                                        <li>Wirkungszeit:
                                            {% if element.casting_duration.casting_time != 0 %}
                                                {{ element.casting_duration.casting_time }}
                                            {% endif %}
                                            {{ element.casting_duration.casting_type }}</li>{% endif %}
                                    {% if element.damage %}
                                        <li>Schaden:
                                            <ul>{% for d in element.damage %}
                                                <li>{{ d.dice_term }} {{ d.type }}</li>
                                            {% endfor %}</ul></li>{% endif %}
                                    <hr>
                                    {% if element.description %}
                                        <div style="text-align: justify">{{ element.description }}</div>{% endif %}
                                </ul>
                                -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Diese Seite ist noch im Aufbau. Der liebe DM kümmert sich drum :)</p>
        {% endif %}
    </div>
</div>

</body>
</html>
