<!doctype html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>{{ place.name }} | {{ g.site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>
<body>

{% include "banner.html" %}

<div class="page-containter">
    {% include "header.html" %}

    <div class="page">
        <div class="character-container">
            <div class="character-data">
                <div class="character-data-box">
                    {% set place_name = place.name | lower | replace(" ", "-") %}
                    {% set url = g.img_host + "crests/" + place_name %}
                    <img src="{{ url }}-crest.png" alt="">

                    <div class="character-data-name"><h1>{{ place.name }}</h1></div>
                    {% if place.subtitle %}
                        <div class="character-data-title"><h3>{{ place.subtitle }}</h3></div>
                    {% endif %}

                    <div class="character-data-field-title"><h4>Allgemeine Informationen</h4></div>
                    <table>
                        <tbody>
                        {% if place.language %}
                            {% if place.language.natlang %}
                                <tr>
                                    <td>Landessprache</td>
                                    <td>{{ place.language.natlang }}</td>
                                </tr>
                            {% endif %}
                            {% if place.language.natname %}
                                <tr>
                                    <td>In Landessprache</td>
                                    <td>{{ place.language.natname }}, (wörtl. <i>{{ place.language.translation }}</i> )
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td>Art des Ortes</td>
                            <td>{{ place.placetype }}</td>
                        </tr>
                        {% if place.demography %}
                            <tr>
                                <td>Demographie</td>
                                <td>{{ place.demography }} Einwohner</td>
                            </tr>
                        {% endif %}
                        {% if place.capital %}
                            <tr>
                                <td>Hauptstadt</td>
                                <td>
                                    {% set p_name = place.capital | lower | replace(" ", "-") %}
                                    <a href="{{ url_for('place', place_name=p_name) }}">
                                        {{ place.capital }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="character-data-field-title"><h4>Standort</h4></div>
                    <table>
                        <tbody>
                        {% if parent %}
                            <tr>
                                <td>Liegt in</td>
                                <td>
                                    {% set p_name = parent | lower | replace(" ", "-") %}
                                    <a href="{{ url_for('place', place_name=p_name) }}">
                                        {{ parent }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if place.contains %}
                            <tr>
                                <td>Enthält</td>
                                <td>
                                    {% for c in place.contains %}
                                        {% set c_name = c.name | lower | replace(" ", "-") %}
                                        <a href="{{ url_for('place', place_name=c_name) }}">
                                            {{ c.name }}{{ ", " if not loop.last else "" }}
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {% if place.system or place.leader %}
                        <div class="character-data-field-title"><h4>Politik</h4></div>
                        <table>
                            <tbody>
                            {% if place.system %}
                                <tr>
                                    <td>Regierungsform</td>
                                    <td>{{ place.system }}</td>
                                </tr>
                            {% endif %}
                            {% if place.leader %}
                                <tr>
                                    <td>Regierende Person</td>
                                    <td>
                                        {% set c_name = place.leader.name | lower | replace(" ", "-") %}
                                        <a href="{{ url_for('character', character_name=c_name) }}">
                                            {{ place.leader.name }}
                                        </a><small>({{ place.leader.type }})</small>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="character-text">
                <div class="character-text-box">
                    <iframe src="https://map.zetsuboushii.site?marker={{ place.name }}"
                            style="margin-top: 20px; width: 100%; height: 500px"></iframe>
                    {% if place.content %}
                        <p>{{ place.content.excerpt }}</p>

                        <hr>

                        {% if not place.content.sections %}
                            <p>Hier steht noch nichts! Erinnere doch gerne den DM daran, für diesen Charakter etwas
                                epochales zu schreiben :)</p>
                        {% endif %}
                        {% for section in place.content.sections %}
                            <div class="character-text-heading"><h2>{{ section.title }}</h2></div>
                            <p>{{ section.text }}</p>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
